@model BlogProje.Models.Yazi

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Baslik</h1>
<hr />
<p>@Model.EklenmeTarihi</p>
<hr />
<img class="img-fluid" src="https://via.placeholder.com/900x300" />
<hr />
<blockquote class="blockquote">
    <p class="mb-0">@Model.Aciklama</p>
</blockquote>
<p>@Model.İcerik</p>

@section SagKisim{
    sdfdfs
}
